@media screen and (max-width: 1385px) {
    .nav-open {
        opacity: 1;
        cursor: pointer;
    }

    .nav__container {
        display: none;
    }

    .nav__container.open {
        display: flex;
    }


}

@media screen and (max-width: 1080px) {
    .app-wrapper__content {
        width: 800px;
    }
}