@media screen and (max-width: 1200px) {
    .nav-open {
        opacity: 1;
        cursor: pointer;
    }

    .nav__container {
        display: none;
    }

    .nav__container.open {
        display: flex;
    }


}