.dialogs {
    display: flex;
    justify-content: space-between;
    max-height: 87vh;
    margin-top: 0;
}

.dialogs-field {
    border-radius: 15px;
    color: #b7b3b3;
    background-color: white;
    box-shadow: 0 8px 30px rgba(0,0,0,.05);
    overflow-y: scroll;
    overflow-x: hidden;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 25%;

}

.messages-field {
    display: none;
    flex-direction: column;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 8px 30px rgba(0,0,0,.05);
    margin-left: 20px;
    padding: 15px;
    width: 75%;
}

.opened {
    display: flex;
}



.messages-field__new-message-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.send_message {
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, #ffdf46, #fa8135, #fa913c);
    border-radius: 10px;
    border: 0;
    height: 33px;
    width: 40px;
    padding: 6px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 30px;
    color: white;
    user-select: none;
    transition: all 300ms ease;
}

.send_message:active {
    margin-bottom: 0;
}


.messages-field__new-message-text {
    resize: none;
    padding: 5px;
    font-size: 12px;
    width: 100%;
    border-radius: 15px;
    border: 2px  #b7b3b3 solid;
    color: #b7b3b3;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #ffdf46, #ff883f, #fa913c);
}
